{{- /* Debian essential priority and important packages */ -}}
{{ output "bash" "-c" "apt-cache dumpavail | awk '/^Package:/ {pkg=$2} /^Essential: yes/ || /^Priority: required/ || /^Priority: important/ {print pkg}' | sort -u" -}}

{{- /* Extra essentials not marked essential priority or important by Debian */}}
sudo
ca-certificates

{{- /* CLI tools */}}
curl
wget
gpg
git
git-doc
git-gui
gitk
gh
man-db
fastfetch
graphicsmagick

{{- /* Localisation tools */}}
locales
keyboard-configuration
console-setup

{{- /* Debian package tools */}}
aptitude
cosign
debsigs
equivs

{{- /* Audio packages */}}
alsa-utils
libasound2-plugins
pulseaudio-utils

{{- /* Firefox and dependencies */}}
firefox-devedition
firefox-devedition-l10n-en-gb
libpci3
libegl1

{{- /* 1password managed elsewhere as not using deb pkg on arm64 */ -}}
{{- /* NordVPN */}}
nordvpn
nordvpn-gui

{{- /* KDE Plasma Desktop Environment */}}
plasma-workspace
plasma-workspace-doc
kde-cli-tools
kio-extras
kio-fuse
ksystemstats
plasma-desktop
breeze-gtk-theme
kde-config-gtk-style
kde-config-gtk-style-preview
kwin-wayland

{{- /* KDE (or Qt) apps */}}
qterminal
khelpcenter
kinfocenter
systemsettings

{{- /* Font packages */}}
fonts-hack
fonts-noto
fonts-noto-color-emoji

{{- /* Other packages */}}
x11-apps
mesa-utils
python3

{{- /* Packages that are only needed on WSL */ -}}
{{- $wsl := output "bash" "-c" "[[ -d /run/WSL ]]; echo -n $?" -}}
{{- if eq $wsl "0" }}
weston
wl-clipboard

{{- end }}
