{{- $bashChecks := print `
if localectl list-keymaps 2>/dev/null | grep -iq "UK" \
&& grep -iq "uk" /etc/default/keyboard \
&& grep -iq "gb" /etc/default/keyboard \
&& grep -iq "extd" /etc/default/keyboard \
&& grep -iq "pc105" /etc/default/keyboard \
&& grep -iq "UTF-8" /etc/default/console-setup \
&& grep -iq "Lat15" /etc/default/console-setup \
&& timedatectl status | grep -iq "Australia/Brisbane" \
&& cmp -s "` .chezmoi.sourceDir `/usr/share/i18n/locales/en_AU@phil" "/usr/share/i18n/locales/en_AU@phil" \
&& cmp -s "` .chezmoi.sourceDir `/usr/share/i18n/SUPPORTED" "/usr/share/i18n/SUPPORTED" \
&& cmp -s "` .chezmoi.sourceDir `/etc/locale.gen" "/etc/locale.gen" \
&& cmp -s "` .chezmoi.sourceDir `/etc/locale.conf" "/etc/locale.conf"; then
echo -n "0"; else echo -n "1"; fi` -}}
{{- $checksResult := output "bash" "-c" $bashChecks -}}
{{- if ne $checksResult "0" -}}
#!/bin/bash

################################################################################
# Configure Keyboard Timezone & Locale on Debian in an idempotent manner.
#
# See `#term-Idempotency` definition at:
# https://docs.ansible.com/ansible/latest/reference_appendices/glossary.html
#
# This shell script attempts to comply with:
# https://google.github.io/styleguide/shellguide.html
#
# Should (hopefully, mostly) pass analysis with ShellCheck, too:
# https://www.shellcheck.net
################################################################################

# Set variables

github_username="phil-gg"
github_project="dotfiles"
github_branch="main"
git_filename="run_always_after_04-set-keyboard-timezone-locale.sh.tmpl"
local_filename="04-set-keyboard-timezone-locale.sh"
runtime=$(date -u +"%Y-%m-%dT%H:%M:%SZ")
normal=$(printf '\033[0m')
redbold=$(printf '\033[91;1m')
greenbold=$(printf '\033[92;1m')
cyanbold=$(printf '\033[96;1m')
bluebold=$(printf '\033[94;1m')
changes_made="0"

# Now running `${local_filename}`

echo -e "\n${bluebold}Now running ‘${local_filename}’${normal}"

# Keyboard configuration

# Work around keymaps packaging issue as documented here:
# https://www.claudiokuenzler.com/blog/1257/how-to-fix-missing-keymaps-debian-ubuntu-localectl-failed-read-list

if ! localectl list-keymaps 2> /dev/null | grep -iq UK; then

echo -e "\n${cyanbold}Installing keymaps${normal}"

kbd_github="https://github.com/legionus/kbd/releases"
kbd_version="$(
curl -ILsS -w "%{url_effective}" -o /dev/null "${kbd_github}/latest" |
sed 's|.*/v\?||'
)"
kbd_releasefile="kbd-${kbd_version}.tar.xz"
kbd_download="${kbd_github}/download/v${kbd_version}/${kbd_releasefile}"

tempdir="${HOME}/git/${github_username}/${github_project}/tmp"
destdir="/usr/share/keymaps"

echo -e "$ sudo mkdir -p ${destdir}"
sudo mkdir -p "${destdir}"

# No sudo on the tempdir in $HOME
echo -e "$ mkdir -p ${tempdir}"
mkdir -p "${tempdir}"

echo -e "$ curl -fsSL ${kbd_download} -o ${tempdir}/${kbd_releasefile}"
curl -fsSL "${kbd_download}" -o "${tempdir}/${kbd_releasefile}"

echo -e "$ tar -xf ${tempdir}/${kbd_releasefile} -C ${tempdir}"
tar -xf "${tempdir}/${kbd_releasefile}" -C "${tempdir}"

echo -e "$ cp -Rp ${tempdir}/kbd-${kbd_version}/data/keymaps/* ${destdir}"
sudo cp -Rp "${tempdir}/kbd-${kbd_version}/data/keymaps/"* "${destdir}"

echo -e "$ rm -rf ${tempdir}"
rm -rf "${tempdir}"

else
echo -e "\n${cyanbold}Listing installed UK keymaps${normal}"
fi

echo -e "$ localectl list-keymaps | grep -i UK\n"
localectl list-keymaps | grep -i UK

# This sets up /etc/default/keyboard as per:
# https://manpages.debian.org/trixie/keyboard-configuration/keyboard.5.en.html
# Note more customisation available with KMAP variable & loadkeys

if ! grep -iq "uk" /etc/default/keyboard ||
   ! grep -iq "gb" /etc/default/keyboard ||
   ! grep -iq "extd" /etc/default/keyboard ||
   ! grep -iq "pc105" /etc/default/keyboard ||
   ! grep -iq "UTF-8" /etc/default/console-setup ||
   ! grep -iq "Lat15" /etc/default/console-setup; then

echo -e "\n${cyanbold}Configure keyboard layout${normal}"

if ! grep -iq "KEYMAP=uk" /etc/default/keyboard &> /dev/null; then
echo -e "KEYMAP=uk" | sudo tee /etc/default/keyboard &> /dev/null
fi

echo -e "$ cat /etc/default/keyboard\n"
cat /etc/default/keyboard

echo -e "\
keyboard-configuration  keyboard-configuration/layoutcode    string  gb
keyboard-configuration  keyboard-configuration/modelcode     string  pc105
keyboard-configuration  keyboard-configuration/variantcode   string  extd
keyboard-configuration  keyboard-configuration/xkb-keymap    string  gb
console-setup   console-setup/charmap       select  UTF-8
console-setup   console-setup/codesetcode   string  Lat15
tzdata          tzdata/Areas                select  Australia
tzdata          tzdata/Zones/Australia      select  Brisbane
tzdata          tzdata/Zones/Etc            select  UTC
" | sudo debconf-set-selections

echo -e "\n$ sudo DEBIAN_FRONTEND=noninteractive dpkg-reconfigure keyboard-configuration"
sudo DEBIAN_FRONTEND=noninteractive dpkg-reconfigure keyboard-configuration
echo -e "$ sudo DEBIAN_FRONTEND=noninteractive dpkg-reconfigure console-setup"
sudo DEBIAN_FRONTEND=noninteractive dpkg-reconfigure console-setup
echo -e "$ sudo DEBIAN_FRONTEND=noninteractive dpkg-reconfigure tzdata"
sudo DEBIAN_FRONTEND=noninteractive dpkg-reconfigure tzdata 1> /dev/null

echo -e "$ sudo sed -i '/^FONTFACE=/c\FONTFACE=""' /etc/default/console-setup"
sudo sed -i '/^FONTFACE=/c\FONTFACE=""' /etc/default/console-setup
echo -e "$ sudo sed -i '/^FONTSIZE=/c\FONTSIZE=""' /etc/default/console-setup"
sudo sed -i '/^FONTSIZE=/c\FONTSIZE=""' /etc/default/console-setup
echo -e "$ sudo setupcon"
sudo setupcon
echo -e "$ cat /etc/default/console-setup\n"
cat /etc/default/console-setup

echo -e "\n$ cat /etc/default/keyboard\n"
cat /etc/default/keyboard

echo -e "\n$ localectl status\n"
localectl status
fi

# Timezone configuration

echo -e "\n${cyanbold}Configure timezone${normal}"
if ! timedatectl status | grep -iq "Australia/Brisbane"; then
echo -e "$ sudo timedatectl set-timezone \"Australia/Brisbane\""
sudo timedatectl set-timezone "Australia/Brisbane"
fi
echo -e "$ timedatectl status\n"
timedatectl status

# Locale configuration

gitlocalefile="${HOME}/git/${github_username}/${github_project}\
/usr/share/i18n/locales/en_AU@phil"
syslocalefile="\
/usr/share/i18n/locales/en_AU@phil"

if ! cmp -s "${gitlocalefile}" "${syslocalefile}"; then
echo -e "\n${cyanbold}Installing custom locale${normal}"
echo -e "$ sudo cp -f ${gitlocalefile} ${syslocalefile}"
sudo cp -f "${gitlocalefile}" "${syslocalefile}"
changes_made="1"
fi

gitSUPPORTEDfile="${HOME}/git/${github_username}/${github_project}\
/usr/share/i18n/SUPPORTED"
sysSUPPORTEDfile="\
/usr/share/i18n/SUPPORTED"

if ! cmp -s "${gitSUPPORTEDfile}" "${sysSUPPORTEDfile}"; then
echo -e "\n${cyanbold}Updating SUPPORTED locales${normal}"
echo -e "$ sudo cp -f ${gitSUPPORTEDfile} ${sysSUPPORTEDfile}"
sudo cp -f "${gitSUPPORTEDfile}" "${sysSUPPORTEDfile}"
changes_made="1"
fi

gitlocalegenfile="${HOME}/git/${github_username}/${github_project}\
/etc/locale.gen"
syslocalegenfile="\
/etc/locale.gen"

if ! cmp -s "${gitlocalegenfile}" "${syslocalegenfile}"; then
echo -e "\n${cyanbold}Updating ${syslocalegenfile}${normal}"
echo -e "$ sudo cp -f ${gitlocalegenfile} ${syslocalegenfile}"
sudo cp -f "${gitlocalegenfile}" "${syslocalegenfile}"
changes_made="1"
fi

gitlocaleconffile="${HOME}/git/${github_username}/${github_project}\
/etc/locale.conf"
syslocaleconffile="\
/etc/locale.conf"

if ! cmp -s "${gitlocaleconffile}" "${syslocaleconffile}"; then
echo -e "\n${cyanbold}Updating ${syslocaleconffile}${normal}"
echo -e "$ sudo cp -f ${gitlocaleconffile} ${syslocaleconffile}"
sudo cp -f "${gitlocaleconffile}" "${syslocaleconffile}"
changes_made="1"
fi

if [[ "${changes_made}" == "1" ]]; then
echo -e "\n${cyanbold}Running locale-gen${normal}"
echo -e "$ sudo locale-gen\n"
sudo locale-gen
echo -e "$ sudo update-locale\n"
sudo update-locale
echo -e "\n$ locale -a\n"
locale -a
echo -e "\n$ sudo DEBIAN_FRONTEND=noninteractive dpkg-reconfigure locales\n"
echo -e "\
locales  locales/default_environment_locale  select  en_AU@phil
locales  locales/locales_to_be_generated  multiselect  \
$(grep -vE '^#\s|^$' /etc/locale.gen | sed -z 's/\n$//; s/\n/, /g')\
" | sudo debconf-set-selections
sudo DEBIAN_FRONTEND=noninteractive dpkg-reconfigure locales

echo -e "\n${redbold}Locale updated but restart required${normal}\n
Please run:\n
wsl.exe --shutdown\n
Afterwards, you can re-run this script to see locale test results"
fi

echo -e "\n${cyanbold}Testing locale configuration in a fresh login shell${normal}"

bash -l << 'EOF'
greenbold=$(printf '\033[92;1m')
normal=$(printf '\033[0m')

echo -e "$ locale\n"
locale

echo -e "\n$ locale -k LC_NUMERIC\n"
locale -k LC_NUMERIC

echo -e "\n$ date"
date
echo -e "${greenbold}> DESIRED OUTPUT:
DDD-DD-MMM-YYYY HH:MM:SS TZ${normal}"

echo -e "\n$ awk 'BEGIN { printf \"%'\"'\"'.4f\\\n\", 1234567.89 }'"
awk 'BEGIN { printf "%'"'"'.4f\n", 1234567.89 }'
echo -e "${greenbold}> DESIRED OUTPUT:
1 234 567.8900${normal}"

echo -e "\n$ python3 -c \"import locale; locale.setlocale(locale.LC_ALL, ''); \
print(locale.currency(1234567.891, grouping=True))\""
python3 -c "import locale; locale.setlocale(locale.LC_ALL, ''); \
print(locale.currency(1234567.891, grouping=True))"
echo -e "${greenbold}> DESIRED OUTPUT:
 + $ 1 234 567.89${normal}"

echo -e "\n$ python3 -c \"import locale; locale.setlocale(locale.LC_ALL, ''); \
print(locale.currency(1234567.891, grouping=True, international=True))\""
python3 -c "import locale; locale.setlocale(locale.LC_ALL, ''); \
print(locale.currency(1234567.891, grouping=True, international=True))"
echo -e "${greenbold}> DESIRED OUTPUT:
 + AUD 1 234 567.89${normal}"

echo -e "\n$ python3 -c \"import locale; locale.setlocale(locale.LC_ALL, ''); \
print(locale.currency(-1234567.891, grouping=True))\""
python3 -c "import locale; locale.setlocale(locale.LC_ALL, ''); \
print(locale.currency(-1234567.891, grouping=True))"
echo -e "${greenbold}> DESIRED OUTPUT:
 - $ 1 234 567.89${normal}"

echo -e "\n$ python3 -c \"import locale; locale.setlocale(locale.LC_ALL, ''); \
print(locale.currency(-1234567.891, grouping=True, international=True))\""
python3 -c "import locale; locale.setlocale(locale.LC_ALL, ''); \
print(locale.currency(-1234567.891, grouping=True, international=True))"
echo -e "${greenbold}> DESIRED OUTPUT:
 - AUD 1 234 567.89${normal}"

EOF

# Replicate the fully evaluated script to your target directory

echo -e "\n${cyanbold}Save a copy of ‘${local_filename}’${normal}"
echo -e "\
$ install -CDm 755 \"\${BASH_SOURCE[0]}\" ~/.config/scripts/${local_filename}"
install -CDm 755 "${BASH_SOURCE[0]}" "${HOME}/.config/scripts/${local_filename}"

# Log this latest `Config` operation and display runtime

echo -e "\n${bluebold}${local_filename} run at${normal}"
echo -e "> ${runtime}\n"
mkdir -p "${HOME}/git/${github_username}/${github_project}" && \
echo -e "EXEC-TIME: ${runtime} | FILE: ${local_filename}" \
>> "${HOME}/git/${github_username}/${github_project}/config-runs.log"

################################################################################
#
# Line wrap ruler
#
#   5   10   15   20   25   30   35   40   45   50   55   60   65   70   75   80
#
################################################################################
{{- end -}}
