#!/bin/bash

################################################################################
# Configure Keyboard Timezone & Locale on Debian in an idempotent manner.
#
# See `#term-Idempotency` definition at:
# https://docs.ansible.com/ansible/latest/reference_appendices/glossary.html
#
# This shell script attempts to comply with:
# https://google.github.io/styleguide/shellguide.html
#
# Should (hopefully, mostly) pass analysis with ShellCheck, too:
# https://www.shellcheck.net
################################################################################

# Set variables

github_username="phil-gg"
github_project="dotfiles"
github_branch="main"
git_filename="run_always_before_04-keyboard-timezone-locale.sh.tmpl"
local_filename="04-keyboard-timezone-locale.sh"
runtime=$(date -u +"%Y-%m-%dT%H:%M:%SZ")
normal=$(printf '\033[0m')
redbold=$(printf '\033[91;1m')
greenbold=$(printf '\033[92;1m')
cyanbold=$(printf '\033[96;1m')
bluebold=$(printf '\033[94;1m')
changes_made="0"

# Now running `${filename}`

echo -e "\n${bluebold}Now running ‘${local_filename}’${normal}"

# Keyboard configuration

# Work around keymaps packaging issue as documented here:
# https://www.claudiokuenzler.com/blog/1257/how-to-fix-missing-keymaps-debian-ubuntu-localectl-failed-read-list

if ! localectl list-keymaps &> /dev/null; then

echo -e "\n${cyanbold}Installing keymaps${normal}"

kbd_version=$(
curl -ILsS -w "%{url_effective}" -o /dev/null \
"https://github.com/legionus/kbd/releases/latest" \
| sed 's|.*/v\?||'
)

echo -e "$ sudo mkdir -p /usr/share/keymaps"
sudo mkdir -p /usr/share/keymaps

echo -e "$ mkdir -p ~/git/${github_username}/${github_project}/tmp"
mkdir -p "${HOME}/git/${github_username}/${github_project}/tmp"

echo -e "$ cd ~/git/${github_username}/${github_project}/tmp"
cd "${HOME}/git/${github_username}/${github_project}/tmp" 2> /dev/null \
|| { echo -e "  ${redbold}Failed to change directory, exiting${normal}"\
; exit 101; }

echo -e "$ curl -fsSL https://github.com/legionus/kbd/releases/download/\
v${kbd_version}/kbd-${kbd_version}.tar.xz -O kbd-${kbd_version}.tar.xz"
curl -fsSL "https://github.com/legionus/kbd/releases/download/v${kbd_version}/\
kbd-${kbd_version}.tar.xz" -O "kbd-${kbd_version}.tar.xz"

echo -e "$ tar -xf kbd-${kbd_version}.tar.xz"
tar -xf "kbd-${kbd_version}.tar.xz"

echo -e "$ sudo cp -Rp kbd-${kbd_version}/data/keymaps/* /usr/share/keymaps/"
# shellcheck disable=SC2086
sudo cp -Rp kbd-${kbd_version}/data/keymaps/* /usr/share/keymaps/

echo -e "$ cd ~/git/${github_username}/${github_project}"
cd "${HOME}/git/${github_username}/${github_project}" 2> /dev/null \
|| { echo -e "  ${redbold}Failed to change directory, exiting${normal}"\
; exit 102; }

echo -e "$ rm -rf ~/git/${github_username}/${github_project}/tmp"
rm -rf "${HOME}/git/${github_username}/${github_project}/tmp"

fi

echo -e "\n${cyanbold}Configure keyboard layout${normal}"
echo -e "$ localectl list-keymaps | grep -i UK\n"
localectl list-keymaps | grep -i UK

# This sets up /etc/default/keyboard as per:
# https://manpages.debian.org/trixie/keyboard-configuration/keyboard.5.en.html
# Note more customisation available with KMAP variable & loadkeys

PACKAGES="\
keyboard-configuration \
console-setup"

# shellcheck disable=SC2086
DPKG_OUTPUT=$(dpkg -l ${PACKAGES} 2> /dev/null)
DPKG_ERROR=$?
if [ "${DPKG_ERROR}" -eq 0 ]; then
START_LINE=$(echo "$DPKG_OUTPUT" | awk '/^\+\+\+-=/ {print NR + 1; exit}')
# shellcheck disable=SC2086
DPKG_TAIL=$(echo "${DPKG_OUTPUT}" | tail -n +${START_LINE})
APT_REQD=$(echo "${DPKG_TAIL}" | awk '!/^(ii |hi )/ {print substr($0, 1, 2)}')
fi

if [ -n "${APT_REQD}" ] || [ "${DPKG_ERROR}" -ne 0 ]; then

echo -e "\n${cyanbold}Installing keyboard configuration packages${normal}"

if ! grep -q -i "KEYMAP=uk" /etc/vconsole.conf > /dev/null 2>&1; then
echo -e "KEYMAP=uk" | sudo tee /etc/vconsole.conf > /dev/null 2>&1
fi
echo -e "$ cat /etc/vconsole.conf\n"
cat /etc/vconsole.conf

echo -e "\n$ sudo apt update && sudo apt -y install ${PACKAGES}\n"
sudo apt update
echo -e "\
keyboard-configuration  keyboard-configuration/layoutcode    string  gb
keyboard-configuration  keyboard-configuration/modelcode     string  pc105
keyboard-configuration  keyboard-configuration/variantcode   string  extd
keyboard-configuration  keyboard-configuration/xkb-keymap    string  gb
console-setup   console-setup/charmap       select  UTF-8
console-setup   console-setup/codesetcode   string  Lat15
tzdata          tzdata/Areas                select  Australia
tzdata          tzdata/Zones/Australia      select  Brisbane
tzdata          tzdata/Zones/Etc            select  UTC
" | sudo debconf-set-selections
# shellcheck disable=SC2086
sudo DEBIAN_FRONTEND=noninteractive apt install -y ${PACKAGES}

echo -e "\n$ sudo DEBIAN_FRONTEND=noninteractive dpkg-reconfigure \
keyboard-configuration"
sudo DEBIAN_FRONTEND=noninteractive dpkg-reconfigure keyboard-configuration
echo -e "$ sudo DEBIAN_FRONTEND=noninteractive dpkg-reconfigure tzdata"
sudo DEBIAN_FRONTEND=noninteractive dpkg-reconfigure tzdata

echo -e "$ sudo DEBIAN_FRONTEND=noninteractive dpkg-reconfigure console-setup"
sudo DEBIAN_FRONTEND=noninteractive dpkg-reconfigure console-setup
echo -e "$ sudo sed -i '/^FONTFACE=/c\FONTFACE=""' /etc/default/console-setup"
sudo sed -i '/^FONTFACE=/c\FONTFACE=""' /etc/default/console-setup
echo -e "$ sudo sed -i '/^FONTSIZE=/c\FONTSIZE=""' /etc/default/console-setup"
sudo sed -i '/^FONTSIZE=/c\FONTSIZE=""' /etc/default/console-setup
echo -e "$ cat /etc/default/console-setup\n"
cat /etc/default/console-setup

echo -e "\n$ sudo setupcon"
sudo setupcon

else
echo -e ""
fi

echo -e "$ cat /etc/default/keyboard\n"
cat /etc/default/keyboard

echo -e "\n$ cat /etc/vconsole.conf\n"
cat /etc/vconsole.conf

echo -e "\n$ localectl status\n"
localectl status

# Timezone configuration

echo -e "\n${cyanbold}Configure timezone${normal}"
if ! timedatectl status | grep -q -i "Australia/Brisbane"; then
echo -e "$ sudo timedatectl set-timezone \"Australia/Brisbane\""
sudo timedatectl set-timezone "Australia/Brisbane"
fi
echo -e "\n$ timedatectl status\n"
timedatectl status

# Locale configuration

if [[ ! -f /usr/share/i18n/locales/en_AU@phil ]]; then
echo -e "\n${cyanbold}Installing custom locale${normal}"
echo -e "$ sudo cp usr/share/i18n/locales/en_AU@phil /usr/share/i18n/locales/\
en_AU@phil"
sudo cp usr/share/i18n/locales/en_AU@phil /usr/share/i18n/locales/en_AU@phil
changes_made="1"
fi

if ! cmp -s usr/share/i18n/SUPPORTED /usr/share/i18n/SUPPORTED; then
echo -e "\n${cyanbold}Updating SUPPORTED locales${normal}"
echo -e "$ sudo cp -f usr/share/i18n/SUPPORTED /usr/share/i18n/SUPPORTED"
sudo cp -f usr/share/i18n/SUPPORTED /usr/share/i18n/SUPPORTED
changes_made="1"
fi

if ! cmp -s etc/locale.gen /etc/locale.gen; then
echo -e "\n${cyanbold}Updating /etc/locale.gen${normal}"
echo -e "$ sudo cp -f etc/locale.gen /etc/locale.gen"
sudo cp -f etc/locale.gen /etc/locale.gen
changes_made="1"
fi

if ! cmp -s etc/locale.conf /etc/locale.conf; then
echo -e "\n${cyanbold}Updating /etc/locale.conf${normal}"
echo -e "$ sudo cp -f etc/locale.conf /etc/locale.conf"
sudo cp -f etc/locale.conf /etc/locale.conf
changes_made="1"
fi

if [[ "${changes_made}" == "1" ]]; then
echo -e "\n${cyanbold}Running locale-gen${normal}"
echo -e "$ sudo locale-gen\n"
sudo locale-gen
echo -e "\n$ locale -a\n"
locale -a
echo -e "\n$ sudo DEBIAN_FRONTEND=noninteractive dpkg-reconfigure locales\n"
echo -e "\
locales  locales/default_environment_locale  select  en_AU@phil
locales  locales/locales_to_be_generated  multiselect  $(cat etc/locale.gen | \
tail -n +6 | sed ':a;N;$!ba;s/\n/, /g')
" | sudo debconf-set-selections
sudo DEBIAN_FRONTEND=noninteractive dpkg-reconfigure locales

echo -e "\n${redbold}Locale updated but restart required${normal}\n
Please run:\n
wsl.exe --shutdown\n
Afterwards, you can re-run this script to see locale test results"
fi

# Test locale if no changes made this run
if [[ "${changes_made}" == "0" ]]; then

# Check for presence of python3
if ! command -v python3 &> /dev/null; then
echo -e "\n${cyanbold}Installing python3${normal}"
echo -e "$ sudo apt update && sudo apt -y install python3\n"
sudo apt update && sudo apt -y install python3
fi

echo -e "\n${cyanbold}Testing locale configuration${normal}"
echo -e "$ locale\n"
locale

echo -e "\n$ locale -k LC_NUMERIC\n"
locale -k LC_NUMERIC

echo -e "\n$ date"
date
echo -e "${greenbold}> DESIRED OUTPUT:
DDD-DD-MMM-YYYY HH:MM:SS TZ${normal}"

echo -e "\n$ awk 'BEGIN { printf \"%'\"'\"'.4f\\\n\", 1234567.89 }'"
awk 'BEGIN { printf "%'"'"'.4f\n", 1234567.89 }'
echo -e "${greenbold}> DESIRED OUTPUT:
1 234 567.8900${normal}"

echo -e "\n$ python3 -c \"import locale; locale.setlocale(locale.LC_ALL, ''); \
print(locale.currency(1234567.891, grouping=True))\""
python3 -c "import locale; locale.setlocale(locale.LC_ALL, ''); \
print(locale.currency(1234567.891, grouping=True))"
echo -e "${greenbold}> DESIRED OUTPUT:
 + $ 1 234 567.89${normal}"

echo -e "\n$ python3 -c \"import locale; locale.setlocale(locale.LC_ALL, ''); \
print(locale.currency(1234567.891, grouping=True, international=True))\""
python3 -c "import locale; locale.setlocale(locale.LC_ALL, ''); \
print(locale.currency(1234567.891, grouping=True, international=True))"
echo -e "${greenbold}> DESIRED OUTPUT:
 + AUD 1 234 567.89${normal}"

echo -e "\n$ python3 -c \"import locale; locale.setlocale(locale.LC_ALL, ''); \
print(locale.currency(-1234567.891, grouping=True))\""
python3 -c "import locale; locale.setlocale(locale.LC_ALL, ''); \
print(locale.currency(-1234567.891, grouping=True))"
echo -e "${greenbold}> DESIRED OUTPUT:
 - $ 1 234 567.89${normal}"

echo -e "\n$ python3 -c \"import locale; locale.setlocale(locale.LC_ALL, ''); \
print(locale.currency(-1234567.891, grouping=True, international=True))\""
python3 -c "import locale; locale.setlocale(locale.LC_ALL, ''); \
print(locale.currency(-1234567.891, grouping=True, international=True))"
echo -e "${greenbold}> DESIRED OUTPUT:
 - AUD 1 234 567.89${normal}"

fi

# Log this latest `Config` operation and display runtime

echo -e "\n${bluebold}${filename} run at${normal}"
echo -e "> ${runtime}\n"
mkdir -p "${HOME}/git/${github_username}/${github_project}"
echo -e "FILE: ${filename} | EXEC-TIME: ${runtime}" \
>> "${HOME}/git/${github_username}/${github_project}/config-runs.log"

################################################################################
#
# Line wrap ruler
#
#   5   10   15   20   25   30   35   40   45   50   55   60   65   70   75   80
#
################################################################################

