{{- $op_status := output "bash" "-c" "op whoami >/dev/null 2>&1; echo -n $?" -}}
{{- $sudo_status := output "bash" "-c" "sudo -n true >/dev/null 2>&1; echo -n $?" -}}
{{- if not (and (eq $op_status "0") (eq $sudo_status "0")) }}
#!/bin/bash

################################################################################
# Choose whether to pre-authenticate 1password and/or sudo.
#
# This script aims to be idempotent; see `#term-Idempotency` definition at:
# https://docs.ansible.com/ansible/latest/reference_appendices/glossary.html
#
# This shell script attempts to comply with:
# https://google.github.io/styleguide/shellguide.html
#
# Should (hopefully, mostly) pass analysis with ShellCheck, too:
# https://www.shellcheck.net
################################################################################

# Set variables

github_username="phil-gg"
github_project="dotfiles"
github_branch="main"
filename="02-1password-sudo-choices.sh"
runtime=$(date -u +"%Y-%m-%dT%H:%M:%SZ")
normal=$(printf '\033[0m')
redbold=$(printf '\033[91;1m')
greenbold=$(printf '\033[92;1m')
cyanbold=$(printf '\033[96;1m')
bluebold=$(printf '\033[94;1m')
scriptused=0
sudo_vault="54sdig4tb7p4cd2upehoa4qooe"
sudo_item="uenihzentw3pm2vbzu4n73jjny"
sudo_field="password"

# Now running `${filename}`

echo -e "\n${bluebold}Now running ‘${filename}’${normal}"

# Warm 1password (removed by chezmoi each run if already logged in)
{{ if not (eq $op_status "0") -}}

if ! op whoami &> /dev/null; then
  echo -e "\n${cyanbold}Do you want to run these chezmoi scripts with secrets from 1password?${normal}"
  read -r -p "> Run ‘eval \$(op signin)’ now? (Y/n) " response
  # Convert the string to lowercase
  response="${response,,}"
  # Check for 'y', 'yes', or an empty string (-z)
  if [[ "${response}" == "y" || "${response}" == "yes" || -z "${response}" ]]
    then
    (( scriptused += 1 ))
    echo -e "$ eval \$(op signin)"
    eval $(op signin)
    else
    echo -e "${redbold}> You chose no. All secrets injection from 1password will be skipped for this chezmoi run.${normal}"
  # Close choice to sign into 1password
  fi
# Close check whether 1password credentials already present
fi

{{- end }}
# Warm sudo (removed by chezmoi each run if sudo credentials already warm)
{{ if not (eq $sudo_status "0") -}}

if ! sudo -n true 2>/dev/null; then
  echo -e "\n${cyanbold}Do you want to run these chezmoi scripts with sudo privileges?${normal}"
  read -r -p "> Run ‘sudo -v’ now? (Y/n) " response
  # Convert the string to lowercase
  response="${response,,}"
  # Check for 'y', 'yes', or an empty string (-z)
  if [[ "${response}" == "y" || "${response}" == "yes" || -z "${response}" ]]
    then
    (( scriptused += 2 ))
    # Autofill sudo credential if now signed into 1password
    if op whoami &> /dev/null; then
      echo -e "> Authenticating sudo with 1password…"
      echo -e "$ op read \"op://\${vault}/\${item}/\${field}\" | sudo -S -v &> /dev/null"
      # Execute the sudo -v in if statement to catch failures
      if op read "op://${sudo_vault}/${sudo_item}/${sudo_field}" | sudo -S -v &> /dev/null; then
        echo -e "${greenbold}> Sudo successfully authenticated.${normal}"
        else
        echo -e "${redbold}> 1Password authentication failed. Falling back to interactive prompt:${normal}"
        echo -e "$ sudo -v"
        sudo -v
      # Close check for failure with 1password authenticating sudo
      fi
      else
      # Else interactively prompt for sudo credentials
      echo -e "$ sudo -v"
      sudo -v
    # Close condition for autofill vs interactive sudo
    fi
  # Close [Y/n] choice to validate sudo
  fi
# Close check whether sudo credentials already present
fi

{{- end }}
# Log this latest `Config` operation and display runtime

if (( scriptused > 0 )); then
  echo -e "\n${bluebold}${filename} run at${normal}"
  echo -e "> ${runtime}\n"
  mkdir -p "${HOME}/git/${github_username}/${github_project}"
  echo -e "FILE: ${filename} | EXEC-TIME: ${runtime}" \
  >> "${HOME}/git/${github_username}/${github_project}/config-runs.log"
# Close conditional logging
fi

################################################################################
#
# Line wrap ruler
#
#   5   10   15   20   25   30   35   40   45   50   55   60   65   70   75   80
#
################################################################################
{{- end -}}
